{% extends 'myapp/index.html' %}

{% block title %}ByteCode-Home{% endblock %}
{% load static %}
{% block content %}






<section class="u-clearfix u-white u-section-1" id="sec-afa7">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="custom-expanded data-layout-selected u-clearfix u-gutter-0 u-layout-spacing-all u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-container-style u-layout-cell u-size-26-lg u-size-26-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-1"
                         data-animation-name="flipIn" data-animation-duration="1500" data-animation-delay="500"
                         data-animation-direction="X">
                        <div class="u-container-layout u-container-layout-1">
                            <h1 class="u-align-center-md u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-xl u-text u-text-1">
                                Language Courses and Programs</h1>
                            <p class="u-align-center-md u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-xl u-text u-text-2">
                                Join our international family today! Please call us for more info. Image from <a
                                    href="https://freepik.com"
                                    class="u-border-1 u-border-active-palette-1-base u-border-black u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-link u-button-style u-none u-text-body-color u-btn-1"
                                    data-animation-name="" data-animation-duration="0" data-animation-delay="0"
                                    data-animation-direction="">Freepik</a>
                            </p>
                            <a href=""
                               class="u-active-grey-90 u-align-center-md u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-xl u-border-1 u-border-active-grey-90 u-border-black u-border-hover-grey-90 u-btn u-btn-round u-button-style u-hover-grey-90 u-none u-radius u-text-hover-white u-btn-2">
                                &nbsp;<span class="u-file-icon u-icon u-text-palette-2-base u-icon-1"><img
                                    src="{% static 'images/1082334-109dbede.png'%}" alt=""></span>&nbsp; +123 321 7890
                            </a>
                        </div>
                    </div>
                    <div class="u-container-align-center u-container-style u-layout-cell u-size-34-lg u-size-34-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-2">
                        <div class="u-container-layout u-valign-bottom-sm u-valign-bottom-xl u-valign-bottom-xs u-container-layout-2">
                            <div class="u-align-center-md u-align-center-sm u-align-center-xs u-palette-2-base u-preserve-proportions u-shape u-shape-circle u-shape-1"
                                 data-animation-name="customAnimationIn" data-animation-duration="1200"
                                 data-animation-delay="500"></div>
                            <img class="u-expanded-width-lg u-expanded-width-sm u-expanded-width-xl u-expanded-width-xs u-image u-image-default u-image-1"
                                 src="{% static 'images/portrait-delighted-hipster-male-student-7-min.png'%}"
                            alt=""
                                 data-image-width="1000" data-image-height="1132"
                                 data-animation-name="customAnimationIn" data-animation-duration="1500"
                                 data-animation-delay="0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="u-clearfix u-container-align-center u-palette-2-dark-3 u-section-2" id="carousel_f870">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-border-2 u-border-grey-60 u-container-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle"
                     data-animation-name="flipIn" data-animation-duration="1500" data-animation-delay="200"
                     data-animation-direction="X">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1"><span
                            class="u-align-left u-custom-item u-file-icon u-icon u-icon-circle u-palette-1-base u-icon-1"
                            data-animation-name="" data-animation-duration="0" data-animation-delay="0"
                            data-animation-direction=""><img src="images/13567509-fa65941e.png" alt=""></span>
                        <h4 class="u-align-left u-text u-text-default u-text-1"> Live online classes available 24/7</h4>
                        <p class="u-align-left u-text u-text-default u-text-2"> Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="u-border-2 u-border-grey-60 u-container-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle"
                     data-animation-name="flipIn" data-animation-duration="1500" data-animation-delay="200"
                     data-animation-direction="X">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2"><span
                            class="u-align-left u-custom-item u-file-icon u-icon u-icon-circle u-palette-2-base u-icon-2"
                            data-animation-name="" data-animation-duration="0" data-animation-delay="0"
                            data-animation-direction=""><img src="images/3443870-f54045b0.png" alt=""></span>
                        <h4 class="u-align-left u-text u-text-default u-text-3"> Practise with online activities and
                            materials</h4>
                        <p class="u-align-left u-text u-text-default u-text-4"> Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="u-border-2 u-border-grey-60 u-container-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle"
                     data-animation-name="flipIn" data-animation-duration="1500" data-animation-delay="200"
                     data-animation-direction="X">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3"><span
                            class="u-align-left u-custom-item u-file-icon u-icon u-icon-circle u-palette-1-base u-icon-3"
                            data-animation-name="" data-animation-duration="0" data-animation-delay="0"
                            data-animation-direction=""><img src="images/2578513-c4d6f479.png" alt=""></span>
                        <h4 class="u-align-left u-text u-text-default u-text-5"> Enhance your learning experience </h4>
                        <p class="u-align-left u-text u-text-default u-text-6"> Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="u-clearfix u-container-align-center u-white u-section-3" id="carousel_4196">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-left-cell u-shape-rectangle u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-1"
                         data-animation-name="customAnimationIn" data-animation-duration="1500"
                         data-animation-delay="500">
                        <div class="u-container-layout u-valign-middle u-container-layout-1">
                            <h3 class="u-align-left u-text u-text-1"> Get the most out of life by improving your English
                                skills<br>
                            </h3>
                            <p class="u-align-left u-text u-text-2"> Nibh venenatis cras sed felis eget velit aliquet
                                sagittis id. Tellus pellentesque eu tincidunt tortor aliquam nulla.</p>
                            <p class="u-align-left u-text u-text-default u-text-3">Image from&nbsp;<a
                                    href="https://www.freepik.com"
                                    class="u-border-1 u-border-active-palette-1-base u-border-black u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-link u-button-style u-none u-text-body-color u-btn-1"
                                    target="_blank">Freepik</a>
                            </p>
                            <a href=""
                               class="u-active-black u-align-left u-border-1 u-border-active-black u-border-black u-border-hover-black u-btn u-btn-round u-button-style u-hover-black u-none u-radius u-text-active-white u-text-body-color u-text-hover-white u-btn-2">Learn
                                More</a>
                        </div>
                    </div>
                    <div class="u-container-align-center-lg u-container-align-center-xl u-container-style u-layout-cell u-right-cell u-shape-rectangle u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-2"
                         data-animation-name="customAnimationIn" data-animation-duration="1500"
                         data-animation-delay="500" data-animation-direction="X">
                        <div class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-valign-top-lg u-valign-top-xl u-container-layout-2">
                            <div class="u-carousel u-expanded-width-xs u-gallery u-gallery-slider u-layout-carousel u-lightbox u-no-transition u-show-text-on-hover u-gallery-1"
                                 id="carousel-7f95" data-interval="5000" data-u-ride="carousel">
                                <ol class="u-absolute-hcenter u-carousel-indicators u-carousel-indicators-1">
                                    <li data-u-target="#carousel-7f95" data-u-slide-to="0"
                                        class="u-active u-grey-70 u-shape-rectangle"
                                        style="width: 30px; height: 3px;"></li>
                                    <li data-u-target="#carousel-7f95" data-u-slide-to="1"
                                        class="u-grey-70 u-shape-rectangle" style="width: 30px; height: 3px;"></li>
                                    <li data-u-target="#carousel-7f95" data-u-slide-to="2"
                                        class="u-grey-70 u-shape-rectangle" style="width: 30px; height: 3px;"></li>
                                </ol>
                                <div class="u-carousel-inner u-gallery-inner u-gallery-inner-1" role="listbox">
                                    <div class="u-active u-carousel-item u-effect-fade u-gallery-item u-carousel-item-1"
                                         data-image-width="1380" data-image-height="920">
                                        <div class="u-back-slide">
                                            <img class="u-back-image u-expanded"
                                                 src="images/it-s-your-result-is-higher-than.jpg">
                                        </div>
                                        <div class="u-align-center u-over-slide u-shading u-valign-bottom u-over-slide-1"></div>
                                    </div>
                                    <div class="u-carousel-item u-effect-fade u-gallery-item u-carousel-item-2"
                                         data-image-width="700" data-image-height="700">
                                        <div class="u-back-slide" data-image-width="1380" data-image-height="916">
                                            <img class="u-back-image u-expanded"
                                                 src="images/smiling-boy-visiting-big-ben_114.jpg" alt="">
                                        </div>
                                        <div class="u-align-center u-over-slide u-shading u-valign-bottom u-over-slide-2"></div>
                                    </div>
                                    <div class="u-carousel-item u-effect-fade u-gallery-item u-carousel-item-3"
                                         data-image-width="1380" data-image-height="985">
                                        <div class="u-back-slide">
                                            <img class="u-back-image u-expanded"
                                                 src="images/young-librarian-organising-books.jpg">
                                        </div>
                                        <div class="u-align-center u-over-slide u-shading u-valign-bottom u-over-slide-3"></div>
                                    </div>
                                </div>
                                <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-icon-circle u-opacity u-opacity-70 u-palette-1-base u-spacing-10 u-carousel-control-1"
                                   href="#carousel-7f95" role="button" data-u-slide="prev"><span aria-hidden="true">
                        <svg viewBox="0 0 8 8"><path d="M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z"></path></svg></span><span
                                        class="sr-only">
                        <svg viewBox="0 0 8 8"><path d="M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z"></path></svg></span>
                                </a>
                                <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-icon-circle u-opacity u-opacity-70 u-palette-1-base u-spacing-10 u-text-white u-carousel-control-2"
                                   href="#carousel-7f95" role="button" data-u-slide="next"><span aria-hidden="true">
                        <svg viewBox="0 0 8 8"><path d="M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z"></path></svg></span><span
                                        class="sr-only">
                        <svg viewBox="0 0 8 8"><path d="M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z"></path></svg></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
























{% endblock %}